body {
  background-image: url(assets/car.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 3em;
  color: rgb(32, 32, 32);
}
span {
  color: rgb(228, 228, 228);
  padding-left: 15px;
}
